/*-----Generelt-----*/


body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

html {
    max-width: 100vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: .3s;
}

a:visited {
    color: inherit;
}

h1,
h2,
h3 {
    font-family: safety;
    font-weight: 100;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

img {
    width: 100%;
    border: 0;
    height: auto;
}


/*-----Animation-----*/

.valgt {
    color: white;
}

.gem {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.skjult {
    display: none;
    opacity: 0;
    overflow: hidden;
}

.hidden {
    /*Skubber menuen ud til højre side*/
    transform: translateX(100%);
    opacity: 0;
    display: none;
}

/*-----Menu-----*/

.navigation {
    background-color: #28292c;
    max-width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    transition: all .5s;
    display: block;

}

.logo img {
    height: 30px;
    width: 180px;
    padding-left: 15px;
    padding-top: 10px;
}

.logo-container {
    width: 100vw;
}

.mainmenu-wrapper {
    background-color: #28292C;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 7.2vh;
    transition: transform .3s ease-in, opacity .3s ease-in, width .4s ease-out;
    display: block;
}

.navigation li.nav-item a {
    color: #ccc;
    font-family: Safety;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 25px 50px 25px 17px;
    position: relative;
    transition: all .3s ease;
    border-bottom: 1px solid #373d46;
    overflow: hidden;
    text-align: left;
}

ul.level-1 {
    display: block;
    padding: 30px 50px 25px 17px;
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
}


/*-----Menu-knap-----*/

/*burger knappen*/

.menu-toggle {
    position: absolute;
    border: none;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 2px;
    top: 0;
    right: 0;
    padding: 0 15px;
    z-index: 9999;
    transition: .2s ease-out;
    background-color: #28292C;
    cursor: pointer;
}

.lines {
    height: 2px;
    width: 100%;
    background: #ccc;
    margin: 3px 0;
    transition: all .3s ease-in;
    border-radius: 5px;
}

/*animation der får stregerne i burgermenuen til at dreje om til et kryds*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-1px, 4px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(46deg) translate(-3px, -6px);
}


/*-----Splash/box-----*/

.splash_wrapper {
    display: none;
    margin-top: 50px;
    animation-duration: 1s;
    transition: all .3s ease;
}

.box {
    width: 100%;
    z-index: 9;
    left: 0;
    right: 0;
    background-color: #373d46;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}

.box-txt {
    width: 100%;
    z-index: 9980;
    display: block;
    left: 0;
    right: 0;
    display: none;
    color: white;
    font-family: safety;
    color: #ccc;
    position: fixed;
}

.box-pil {
    display: none;
}

.box-wrapper {
    margin-left: 8.7vw;
}

.box-pil img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
    display: inline-block;
}

.txt1,
.txt2 {
    color: #ccc;
}

.txt1:hover {
    color: white;
}

.txt2:hover {
    color: white;
}

.box-img {
    background-image: url(img/splash.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    height: 500px;
    width: 100%;
    margin: 60px 0;
    right: 0;
    top: 0;
    width: auto;
    max-width: none;
    min-width: 100%;
    display: block;
}

.toBoxe {
    background-color: rgba(65, 74, 90, .85);
    max-width: 640px;
    position: absolute;
    left: 0;
    top: 480px;
    margin: 0 auto;
    height: 130px;
    transition: all 0.3s ease;
    transform: translateX(-100%);
}

.lillebox {
    background-color: #28292c;
    color: #fff;
    height: 100%;
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 90px;
    line-height: 1.2;
}

.storbox {
    float: right;
    color: white;
}


/*-----Om kampagnen-----*/

.om_wrapper {
    padding: 1rem 1rem 3rem;
    color: #373d46;
    margin-top: 13vh;
}

.om_wrapper h1 {
    font-size: 2.2rem;
    margin: 2rem 0 1rem;
    font-weight: 100;
}

.om_wrapper p {
    font-weight: 100;
}

.om_txt {
    max-width: 1024px;
}


/*-----Kampagne video-----*/

.videoInfo_wrapper {
    background-color: #eaeaea;
    padding: 1rem 1rem 3rem;
    margin-top: 13vh;
    max-width: 100vw;
}

.videoInfo_wrapper h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 100;
    width: 350px;
}

.videoInfo a {
    color: #fd6d6f;
}

.videoInfo_video {
    width: 100%;
}

iframe {
    width: 100%;
}

.videoInfo a {
    color: #fd6d6f;
    font-family: safety;
    font-size: 1rem;
    transition: all .3s ease;
    margin: 4rem 0;
}

/*-----Video portfolio-----*/

.port-video {
    margin-top: 0;
    padding: 1rem 1rem 3rem;
    max-width: 100vw;
}

.videos {
    max-width: 1024px;
}


.pv1 {
    background-color: #eaeaea;
}

.pv2 {
    background-color: white;
}

.pv3 a,
.pv1 a {
    color: black;
    cursor: pointer;
}

.pv2 {
    background-color: #414b5a;
    color: white;
}

.pv2 a {
    color: white;
    cursor: pointer;
}

.pv3 img {
    width: 100%;
}

.port-video a:hover {
    color: black;
}


/*-----Kampagne spil-----*/

.section_wrapper {
    padding: 1rem 1rem 3rem;
}

.game {
    background-color: #eaeaea;
}

.section_wrapper h2 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    font-weight: 100;
}

.section {
    max-width: 1024px;
}

.game .section_item {
    height: 400px;
}

/*-----Teaser box-----*/

.teaser_wrapper {
    background-color: #eaeaea;
    padding: 1rem;
    font-size: 1.6rem;
}

.teaser_first {
    max-width: 1024px;
}

.teaser h2 {
    font-size: 1.5rem;
}

.fakta1 {
    background-color: white;
}

.fakta1 h2 {
    font-size: 1.7rem;
}

.fakta1 h3 {
    font-size: 1.3rem;
}

.fakta2 {
    background-color: #414b5a;
    color: white;
}

/*-----Quiz-----*/

.quiz {
    background-color: #414b5a;
    color: white;
}

.quiz h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.quiz p {
    font-size: 1.2rem;
}

.quiz .section_txt a {
    color: #fd6d6f;
    font-family: safety;
    font-size: 1.3rem;
    transition: all .3s ease;
    margin: 4rem 0;
}

.quiz a:hover {
    transform: scale(0.7);
    color: #3f0;
}

/*-----Infografik-----*/

.infografik {
    background-color: #414b5a;
    color: white;
}

.infografik h2 {
    font-size: 1.7rem;
}

/*-----Historier-----*/

.historier_wrapper {
    padding: 1rem 1rem 3rem;
}

.historier_wrapper h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    font-weight: 100;
}

.historier {
    max-width: 1024px;
}

.historier a {
    color: #fd6d6f;
    color: #fd6d6f;
    font-family: safety;
    font-size: 1rem;
    transition: all .3s ease;
    margin: 4rem 0;
}


/*-----Aktuelle kampagner-----*/

.other_wrapper {
    background-color: #414b5a;
    color: white;
    padding: 1rem;
}

.overskrift {
    margin: 2.7rem 0 2rem;
}

.other_wrapper h1 {
    font-size: 2.5rem;
    font-weight: 100;
    color: white;
}

.other {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
}

.other h1 {
    margin: 0.7rem 0;
    font-size: 2.3rem;
}

.other p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}



/*-----Footer-----*/

footer {
    display: block;
    padding: 70px 0 20px;
    background-color: #28292c;
    color: #9ea1a5;
    max-height: 700px;
}

.footer_wrapper {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    box-sizing: border-box;
}

.footer_container {
    box-sizing: border-box;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

footer p {
    font-family: safety;
}

footer a {
    font-family: safety;
    color: #9ea1a5;
    font-weight: 100;
}

.soMe_footer {
    display: flex;
}

.circle {
    width: 60px;
    margin-right: 10px;
    transition: all .3s ease;
}


.facebook:hover {
    background-image: url(logo/facebook.svg);
    background-size: 60px;
    transition: all .3s ease;
}

.linkedin:hover {
    background-image: url(logo/in.svg);
    background-size: 60px;
    transition: all .3s ease;
}

.twitter:hover {
    background-image: url(logo/twitter.svg);
    background-size: 60px;
    background-repeat: no-repeat;
    transition: all .3s ease;
}

.circle:hover img {
    opacity: 0;
}


/*-----Testen-----*/


.test_wrapper {
    margin-top: 15vh;
    padding: 1rem 1rem 3rem;
    transition: all .3s ease;
}

.test_wrapper h2 {
    font-size: 2.2rem;
    margin: 2rem 0 1rem;
    font-weight: 100;
}

.test_wrapper img {

    height: 300px;
    max-width: 700px;
}

.test {
    max-width: 1024px;
}

.start-test {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
    transition: all .3s ease;
    cursor: pointer;
    font-family: Safety;
    font-size: 1.3rem;
    background-color: #9ea1a5;
}

.start-test:hover {
    transform: scale(1.05);
    background-color: #3f0;
}

/*Spørgsmål*/

.spm_wrapper {
    margin-top: 15vh;
    padding: 1rem 1rem 3rem;
    transition: all .3s ease;
}

.spm_wrapper h2 {
    font-size: 2.2rem;
    margin: 2rem 0 1rem;
    font-weight: 100;
}

.spm {
    max-width: 1024px;
}


.spm-knap {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
    transition: all .3s ease;
    cursor: pointer;
    font-family: Safety;
    font-size: 1.3rem;
    background-color: #9ea1a5;
    margin: 10px;
    color: white;
}

.spm-knap:hover {
    transform: scale(1.05);
    background-color: #3f0;
    color: black;
}

.spm_item img {
    height: 300px;
    max-width: 700px;
}

/*Resultat*/

.resultat_wrapper {
    margin-top: 15vh;
    padding: 1rem 1rem 3rem;
    transition: all .3s ease;
}

.resultat_wrapper h2 {
    font-size: 2.2rem;
    margin: 2rem 0 1rem;
    font-weight: 100;
}

.resultat {
    max-width: 1024px;
}

.igen {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
    transition: all .3s ease;
    cursor: pointer;
    font-family: Safety;
    font-size: 1.3rem;
    background-color: #9ea1a5;
}

.igen:hover {
    transform: scale(1.05);
    background-color: #3f0;
}

.tilbage {
    width: 160px;
}

.tilbage img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
    display: inline-block;
}

.tilbage a {
    font-family: Safety;
    font-size: 0.9rem;
}

.tilbage:hover a {
    color: #3f0;
}

/*-----Media-----*/

@media screen and (min-width: 768px) {

    /*-----Splash/grå box-----*/

    .splash_wrapper {
        display: block;
    }

    .box-txt {
        display: block;
    }

    .toBoxe {
        transform: translateX(0%);
    }

    .lillebox {
        width: 8.33333333%;
    }

    .storbox {
        width: 91.66666667%;
    }

    /*-----Om kampagnen-----*/

    .om_wrapper {
        margin-top: 600px;
    }

    /*-----Kampagne video-----*/

    .videoInfo_wrapper h2 {
        font-size: 2rem;
        width: 100vw;
    }

    .videoInfo_wrapper {
        height: 90vh;
    }

    .videoInfo {
        height: 500px;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    /*-----Video portfolio-----*/

    .port-video {
        display: flex;
        justify-content: center;
    }

    .pv3 img {
        max-width: 700px;
    }

    .videos {
        width: 1024px;
    }


    /*-----Kampagne spil-----*/

    .section_wrapper {
        display: flex;
        justify-content: center;
    }

    .section_first {
        display: flex;
        flex-direction: row-reverse;
    }


    .section_txt {
        padding-right: 1em;
    }

    /*-----Infografik-----*/

    .infografik img {
        width: 500px;
    }

    .infografik h2 {
        font-size: 2.4rem;
    }

    .infografik .section_item {
        width: 500px;
    }

    /*-----Historier-----*/

    .historier_wrapper {
        padding: 1rem 1rem 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .historier_first {
        display: flex;
        flex-direction: row-reverse;
    }

    .historier_item {
        flex-basis: 500px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .historier_item img {
        width: 300px;
    }

    .historier_txt {
        flex-basis: 500px;
        flex-grow: 2;

    }

    /*-----Quiz-----*/

    .quiz {
        display: flex;
        justify-content: center;
    }

    .quiz h3 {
        margin: 3rem 0;
    }

    /*-----Game-----*/

    .game .section_txt {
        width: 200px;
    }

    .game .section_item {
        width: 500px;
    }

    /*-----Aktuelle kampagner-----*/

    .other_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .other_img {
        max-width: 24.3%;
        border: none;
    }

    .other_txt {
        margin: 0 2rem;
    }

    .other {
        flex-wrap: nowrap;
        margin: 1.2rem 0 0;
    }

    .other img {
        height: 100%;
        width: 100%;
    }

    .footer_container {
        display: flex;
        justify-content: space-around;
    }

    /*-----Testen-----*/

    .test_wrapper {
        display: flex;
        justify-content: center;
        margin-top: 6vh;
    }

    .spm_wrapper {
        display: flex;
        justify-content: center;
        margin-top: 6vh;
    }

    .resultat_wrapper {
        display: flex;
        justify-content: center;
        margin-top: 6vh;
    }

    .resultat_item img {
        height: 300px;
        max-width: 700px;
    }

}


@media screen and (min-width: 1024px) {

    .navigation {
        height: 70px;
        display: flex;
    }

    .logo-container {
        padding: 10px;
        z-index: 9999;
    }

    .logo {
        z-index: 9999;
    }

    .mainmenu-wrapper {
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        top: 0;
        transform: translateX(0%);
        opacity: 1;
        justify-content: flex-end;
        width: 80vw;
        height: 10vh;
        margin-left: 200px;
        z-index: 300;
    }

    .omOs {
        margin-right: 10vw;
        /*margin-right: 300px;*/
    }

    .logo-container {
        margin-left: 9.3vw;
        /*margin-left: 117px;*/
    }

    .navigation li.nav-item a {
        color: #ccc;
        font-family: Safety;
        font-size: 14px;
        text-decoration: none;
        position: inherit;
        transition: all .3s ease;
        padding: 25px 15px;
        overflow: hidden;
        text-align: inherit;
        height: 20px;
        border-bottom: 0;
    }

    .nav-item {
        height: 68px
    }

    li.nav-item:hover a {
        color: #fff;
        background-color: #373d46;
    }

    ul.level-1 {
        display: inline-block;
        padding: 0;
        line-height: 22px;
        position: static;
        vertical-align: middle;
        text-align: right;
    }


    /*-----Menu-knap-----*/

    /*burger knappen*/

    .menu-toggle {
        display: none;
    }

    .lines {
        display: none;
    }


    /*-----Splash/grå box-----*/

    .splash_wrapper {
        margin-top: 70px;
    }

    .box-txt {
        display: flex;
        text-align: left;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 10px;
        position: relative;
    }

    .box-pil {
        margin: 0 0 0 30px;
        align-self: center;
        display: block;
        z-index: 1;
    }

    .box-pil a {
        font-size: 0.9rem;
        z-index: 1;
    }

    .box-pil img {
        z-index: 1;
    }

    .box-img {
        background-image: url(img/splash.png);
        height: 500px;
        width: 100%;
        margin: 0;
        position: 0;
    }

    .toBoxe {
        top: 500px;
    }


    /*-----Om kampagnen-----*/

    .om_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .om_txt {
        font-size: 1.4rem;
    }

    /*-----Kampagne video-----*/

    .videoInfo_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .videoInfo {
        max-width: 1024px;
    }

    /*-----Teaser box-----*/

    .teaser_wrapper {
        display: flex;
        justify-content: center;
    }

    .teaser_wrapper h2 {
        font-size: 2rem;
    }


    .fakta2 {
        background-color: #414b5a;
        color: white;
    }


    /*-----Infografik-----*/

    .infografik img {}

    /*-----Historier-----*/

    .historier .section_first {
        display: block;
    }

    .section_item img {
        max-width: 350px;
    }

    /*-----Game-----*/

    .game .section_item {
        width: 100vw;
    }

    .game .section_txt {
        width: 800px;
    }

}
