/*-----Generelt-----*/

body {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: inherit;
}

/*-----Class'-----*/

.valgt {
    color: white;
}

/*-----Menu-----*/

.navigation {
    background-color: #28292C;
    height: 10vh;
}

/*-----Aktuelle kampagner-----*/

.other_wrapper {
    background-color: #414b5a;
    color: white;
}

/*-----Footer-----*/

footer {
    display: block;
    padding: 70px 0 20px;
    background-color: #28292c;
    color: #9ea1a5;
    max-height: 700px;
}

.footer_wrapper {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    box-sizing: border-box;
}

.footer_container {
    box-sizing: border-box;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
