/*-----Generelt-----*/

body {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/*-----Class'-----*/

.valgt {
    color: white;
}

/*-----Menu-----*/

.navigation {
    background-color: black;
    height: 10vh;
}

/*-----Aktuelle kampagner-----*/

.other_wrapper {
    background-color: #414b5a;
    color: white;
}
